body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  
}


img {
 max-width: 100%;
 height: avto;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.align-center {
  align-items: center;
}


.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}


.main-header {
  min-height: 320px;

  font-size: 17px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #f3f7f8;
}


.main-logo {
  box-sizing: border-box;
  width: 220px;
  height:42px;
  padding: 13px 56px 5px 56px;
}


.main-footer-logo {
  box-sizing: border-box;
  width: 220px;
  height:68px;
  padding: 20px 41px 25px 41px;
}


.main-logo img {
  width: 109px;
  height: 19px;
}


.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}


.main-logo:active {
  background-color: #ba2732;
}


.main-header a {
  color: #ffffff;
}



.button {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 40px;
  border-radius: 2px;

  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.search-form input {
  box-sizing: border-box;
  width: 270px;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 48px;

  font: inherit;
  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 11px;
  border: none;
}


.search-form input::placeholder {
  color: #ffffff;
}


.search-form input:hover {
  color: #ffffff;

  background-color: #212a3a;
  background-image: url("../img/icon-search-hover.svg") ;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-focus.svg");
  border: none;
}


.main-navigation {
  min-height: 42px;
  margin-bottom: 47px;

  line-height: 18px;

  background-color: #293449;
}

.main-navigation .main-bookmarks,
.main-navigation .cart {
  position: relative;

  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
}


.main-navigation .main-bookmarks{
  padding-left: 45px;
}


.main-navigation .main-bookmarks::before{
  content: "";
  position: absolute;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.main-navigation .main-bookmarks:hover,
.main-navigation .main-bookmarks:focus,
.main-navigation .cart:hover,
.main-navigation .cart:focus {
  background-color: #212a3a;
}


.main-navigation .main-bookmarks:hover::before,
.main-navigation .main-bookmarks:focus::before,
.main-navigation .cart:hover::before,
.main-navigation .cart:focus::before {
  opacity: 1;
}


.main-navigation .main-bookmarks:active,
.main-navigation .cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}


.main-navigation .main-bookmarks::before,
.main-navigation .cart:active::before {
  opacity: 0.5;
}


.main-navigation .cart::before {
  content: "";
  position: absolute;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.main-navigation .cart.not-empty {
  background-color: #ee3643;
}


.main-navigation .cart.not-empty:hover,
.main-navigation .cart.not-empty:focus {
  background-color: #ca2c37;
}


.main-navigation .cart.not-empty:active {
  background-color: #ba2732;
}


.main-navigation .order {
  width: 108px;
  padding: 12px 21px;

  background-color: #63a63e;
}

.main-navigation .order:hover,
.main-navigation .order:focus {
  background-color: #5fbb2d;
}

.main-navigation .order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-content {
  margin-bottom: 39px;
}


.header-text {
  width: 196px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  padding-right: 51px;
  padding-left: 53px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #ee3643;
}


.main-address {
  width: 300px;
  margin-right: 20px;

  font-style: normal;
  font-size: 14px;
  color: #32425c;
}


.main-address span {
  display: block;
}


.main-address .main-address-phone {
  position: relative;

  display: inline-block;
  width: 193px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 71px;

  font-size: 21px;
  vertical-align: top;
  color: #ee3643;

  border: 3px solid #ffffff;
}


.main-address .main-address-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}


.main-address .address {
  padding-left: 10px;
}


.user-navigation {
  width: 150px;
  text-align: right;
}


.user-navigation .login,
.user-navigation .registration {
  position: relative;

  display: inline-block;
  padding: 16px 25px;

  vertical-align: top;
  text-align: center;

  background-color: #ffffff;
  background-image: none;
}


.user-navigation .login {
  margin-right: 10px;
  padding-left: 45px;
}


.user-navigation .login::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}


.user-navigation .login:hover::before, 
.user-navigation .login:focus::before {
  background-image: url("../img/icon-login-focus.svg");
}


.user-navigation .login:active::before {
  background-image: url("../img/icon-login.svg");
}


.user-navigation,
.site-nav {
  width: 300px;

  list-style: none;
}


.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}


.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.user-navigation .row-wrap {
  align-items: flex-end;
}

.user-navigation .profile {
  position: relative;

  flex-grow: 1;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;

  text-align: center;

  background-color: #ffffff;
  background-image: none;
}

.user-navigation .profile::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.user-navigation .profile:hover::before,
.user-navigation .profile:focus::before {
  background-image: url("../img/icon-user.svg");
}

.user-navigation .profile:active::before {
  background-image: url("../img/icon-user.svg");
}


.user-navigation .logout {
  width: 45px;
  height: 45px;

  background-color: #ffffff;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 13px;
}

.user-navigation .logout:hover,
.user-navigation .logout:active {
  background-image: url("../img/icon-logout-focus.svg");
}

.user-navigation .logout:active {
  background-image: url("../img/icon-logout.svg");
}


.user-navigation .personal-area {
  font-size: 0;
  line-height: 10px;
}


.user-navigation .personal-area-link {
  text-align: left;
}

.user-navigation .user-link {
  position: relative;

  display: inline-block;
  margin-top: 10px;
  margin-left: 17px;

  font-size: 16px;
  vertical-align: top;
  color: #32425c;
  text-decoration: underline;
}


.user-navigation .user-link:last-of-type {
  margin-left: 32px;
}

.user-navigation .user-link:last-of-type::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -16px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}


.site-nav a {
  display: block;
  padding: 18px 30px;
}


.site-nav a:hover,
.site-nav a:focus {
  background-color: #293449;
}

.site-nav a:not([href]):hover,
.site-nav a:not([href]):focus {
  background-color: #32425c;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.site-nav a:not([href]):active {
  color: #ffffff;

  background-color: #32425c;
}


.menu-bottom {
  width: 894px;
  min-height: 60px;
  padding-right: 23px;
  padding-left: 23px;

  background-color: #32425c;
}
  

.user-navigation a {
  font-size: 21px;
  color: #000000;
}


.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding-left: 0;
}

.button {
  position: relative;

  min-height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-green:hover,
.button-green:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.button-green:active {
  background-color: #518534;
}


.add-to-favorite {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.add-to-favorite:hover,
.add-to-favorite:focus {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #32425c;
}

.add-to-favorite:active {
  color: #32425c;

  border: 3px solid #32425c;
  opacity: 0.3;
}


.page-list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.page-item a {
  margin-right: 10px;
  padding: 10px 15px;

  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.page-item a:hover,
.page-item a:focus {
  border: 1px solid #bdc6ca;
}

.page-item a:active {
  color: #000000;

  border: 1px solid #ee3643;
}

.page-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.page-item-current a:hover,
.page-item-current a:focus {
  border-color: #ee3643;
}

.page-item-current a:active {
  color: #ffffff;

  border-color: #ee3643;
}

.previous a,
.next a {
  padding-right: 30px;
  padding-left: 30px;

  text-transform: uppercase;
}

.previous a:not([href]),
.next a:not([href]) {
  display: none;
}


.content h2,
.content h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", "Verdana", sans-serif;
  text-transform: uppercase;
}

.content h2 {
  margin-bottom: 20px;
  padding: 30px;

  color: #32425c;

  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.services {
  margin-top: 60px;
  margin-bottom: 35px;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0;

  list-style: none;
}


.services-item {
  position: relative;

  width: 277px;
  height: 100px;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-left: 23px;

  background-color: #f5f5f5;
}


.services-item h3 {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}


.services-item a {
  position: absolute;
  bottom: 22px;
  left: 23px;

  width: 135px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}


.services-item a:hover,
.services-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}


.services-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.services-list .material {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position-x: 213px;
  background-position-y: 30px;
}


.services-list .tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position-x: 197px;
  background-position-y: 30px;
}


.services-list .tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position-x: 191px;
  background-position-y: 30px;
}


.services-list .sales {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position-x: 196px;
  background-position-y: 27px;
}


.services-list .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position-x: 191px;
  background-position-y: 30px;

  justify-self: flex-start;
}


.services-column {
  order: 1;
}


.services-slider {
  position: relative;
}


.services-slide {
  position: relative;

  display: none;
  width: 597px;
  height: 239px;
  padding-top: 27px;
  padding-left: 24px;

  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #857c72;
}


.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 50%;
  z-index: 100;

  width: 140px;
  height: 10px;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}


.slider-controls span {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;

  vertical-align: top;

  border-radius: 50%;
  cursor: pointer;
}


.slider-controls span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
}


.slider-controls .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: -4px;

  background-color: #ffffff;
  border-radius: 50%;
}


.previous-slide {
  position: absolute;
  top: 118px;
  left: 31px;
  z-index: 2;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  outline: none;
  transform: rotate(45deg);
}


.next-slide {
  position: absolute;
  top: 118px;
  right: 28px;
  z-index: 2;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  outline: none;
  transform: rotate(-135deg);
}


.previous-slide:hover,
.previous-slide:focus,
.next-slide:hover,
.next-slide:focus {
  border-color: #ffffff;
  cursor: pointer;
}


.previous-slide:active,
.next-slide:active {
  border-color: #ee3643;
}


.active {
  display: block;
}


.services-slide h3 {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}


.services-slide p {
  margin: 0;
}


.services-slide .button {
  position: absolute;
  bottom: 25px;
  left: 26px;

  width: 195px;
}


.slide-1 {
  background-image: url("../img/slide-image-drill1.jpg");
  background-repeat: no-repeat;
}


.slide-2 {
  background-image: url("../img/slide-image-perf2.jpg");
  background-repeat: no-repeat;
}



.popular {
  position: relative;
}

.popular-wrap {
  justify-content: space-between;
  min-height: 37px;
  margin-bottom: 18px;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 28px;
  padding-left: 28px;

  background-color: #f9f5f0;
}

.popular-wrap h2 {
  width: 610px;
  min-height: 24px;
  margin: 0;
  padding-top: 8px;

  color: #32425c;
}

.popular-wrap > .button {
  align-self: center;
  width: 253px;
  min-height: 24px;
}

.popular-things-list,
.catalog-list {
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 0;
}

.catalog-list {
  width: 700px;
  margin-bottom: 40px;
}

.popular-things-item:nth-child(4n),
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.popular-things-item,
.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;

  list-style: none;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.popular-things-item:hover,
.popular-things-item:focus,
.popular-creator-item:hover,
.popular-creator-item:focus,
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-creator-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.popular-things-item h3,
.catalog-item h3 {
  order: 1;
  min-height: 40px;
  margin: 0;
  padding: 0 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.popular-things-item h3 a,
.catalog-item h3 a {
  color: #000000;
}

.popular-things-item .new,
.catalog-item .new,
.services-item .new {
  position: absolute;
  z-index: 1;

  width: 60px;
  height: 60px;
  overflow: hidden;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.services-item .new {
  top: -13px;
  right: 0;
}

.popular-things-item .new,
.catalog-item .new {
  top: -1px;
  right: -1px;
}

.popular-things-item img,
.catalog-item img {
  width: 218px;
  height: 168px;
  margin-bottom: 13px;
}

.popular-things-item p,
.catalog-item p {
  margin: 0;
}

.popular-things-item p:last-of-type,
.catalog-item p:last-of-type {
  display: flex;
  flex-direction: column;
  order: 1;
  margin-top: auto;
  margin-bottom: 7px;
  margin-left: 6px;
}

.popular-things-item .old-price,
.catalog-item .old-price {
  min-height: 20px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 17px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}

.popular-things-item .newprice-button,
.catalog-item .newprice-button{
  position: relative;

  box-sizing: border-box;
  width: 140px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

.popular-things-item .newprice-button::after,
.catalog-item .newprice-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-things-item .newprice-button:hover::after,
.popular-things-item .newprice-button:focus::after,
.catalog-item .newprice-button:hover::after,
.catalog-item .newprice-button:focus::after {
  border-left-color: #ca2c37;
}

.popular-things-item .newprice-button:active::after,
.catalog-item .newprice-button:active::after {
  border-left-color: #ba2732;
}


.popular-things-item .item-cover,
.catalog-item .item-cover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
}

.item-cover .button {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 8px 0;
}

.popular-things-item:hover .item-cover,
.catalog-item:hover .item-cover {
  display: block;
}

.item-cover .button-green::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.item-cover .button-green:hover::before,
.item-cover .button-green:focus::before,
.item-cover .button-green:active::before {
  opacity: 1;
}

.popular-creator {
  margin-bottom: 60px;
}

.popular-creator-list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.popular-creator-item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;

  list-style: none;

  border: 1px solid #eaeaea;
}

.popular-creator-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}


.service {
  padding-top: 68px;

  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.service h2 {
  margin-bottom: 30px;
}

.service p {
  width: 398px;
  margin-bottom: 60px;
}

.service-list {
  position: relative;

  width: 240px;
  margin-right: 80px;
  padding-left: 0;

  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  top: -45px;
  right: 0;

  width: 10px;
  height: 268px;

  background-image: url("../img/services-border.png");
}       

.service-item a {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 21px;
  padding-left: 22px;

  font-weight: 700;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  cursor: pointer;
}

.service-item a:focus,
.service-item a:hover {
  color: #ffffff;

  background-color: #293449;
}

.service-item .active,
.service-item .active:hover,
.service-item .active:focus {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.service-info-wrap {
  position: relative;

  min-height: 292px;
}

.service-info-wrap .active {
  display: block;
}

.service-info {
  display: none;
  width: 620px;
  min-height: 280px;
  padding-top: 12px;

  background-color: #f3f7f8;
  background-image: url("../img/background.png");
}

.service-info h3 {
  margin: 0;
  margin-bottom: 31px;

  font-size: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.service-info p {
  width: 275px;
  margin: 0;
}

.service-info.delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position-x: 150px;
  background-position-y: 30px;
}

.service-info.guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position-x: 215px;
  background-position-y: 30px;
}

.service-info.credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position-x: 150px;
  background-position-y: 30px;
}


.about-wrap {
  margin-bottom: 86px;
  padding-top: 82px;
}

.about-wrap p,
.about-wrap ul {
  margin-top: 0;
}

.about-wrap h2 {
  margin-bottom: 30px;
}

.about p {
  margin-bottom: 25px;

  line-height: 24px;
}

.about p:last-of-type {
  margin-bottom: 18px;
  padding-right: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.company-list {
  margin-bottom: 18px;
  padding: 0;
  padding-left: 35px;

  list-style: none;
}

.about .button {
  width: 220px;
}

.company-item {
  position: relative;

  margin-bottom: 16px;

  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.company-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}


.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: auto;
}

.contacts p {
  margin-bottom: 34px;
  padding-right: 85px;
}

.contacts a > img {
  margin-bottom: 29px;
}

.contacts .button {
  width: 100%;
}


.bread-crumbs-list {
  display: flex;
  order: -1;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 15px;
  padding-left: 0;

  list-style: none;
}

.bread-crumbs-list li {
  position: relative;

  margin: 5px;
  margin-right: 35px;
}

.bread-crumbs-list li:first-child {
  margin-right: 44px;
}

.bread-crumbs-list li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;

  width: 8px;
  height: 8px;

  border-top: 1px solid #d9dce1;
  border-right: 1px solid #d9dce1;
  transform: rotate(45deg);
}

.bread-crumbs-item a {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.bread-crumbs-home a {
  position: absolute;
  top: 4px;
  left: -8px;

  display: block;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
}


.filters h2,
.catalog-sort h2 {
  padding: 7px 18px;

  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: #f7f3ec;
}

.filters h2,
.catalog-sort {
  margin-bottom: 15px;
}

.catalog-sort h2 {
  width: 205px;
  padding-left: 4px;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:last-of-type {
  border: none;
}

.range-filter {
  width: 220px;
}

.range-control {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-control .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-control .bar {
  position: absolute;

  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-control .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #e0ded9;
  cursor: pointer;
}

.range-control .toggle-min {
  left: 18px;
}

.range-control .toggle-max {
  left: 165px;
}

.price-controls {
  position: relative;

  font-size: 0;
}

.price-controls p {
  display: inline-block;
  width: 50%;
  margin: 0;
  margin-bottom: 21px;

  font-size: 13px;
  vertical-align: top;
}

.price-controls input[type="number"] {
  width: 75px;
  padding: 9px 10px;

  font-size: 17px;
  font-family: inherit;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.max-price::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #000000;
}

.max-price {
  text-align: right;
}

.filters legend {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters li {
  margin-bottom: 16px;
  padding-left: 35px;
}

.filters li:last-child {
  margin-bottom: 21px;
}

.filters label {
  position: relative;

  display: block;

  font-size: 15px;
  text-transform: uppercase;

  cursor: pointer;

  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("../img/checkbox-off-focus.svg");
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:hover:disabled + label::before,
.filter-input-checkbox:focus:disabled + label::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  background-image: url("../img/checkbox-on-focus.svg");
}

.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:checked:hover:disabled + label::before,
.filter-input-checkbox:checked:focus:disabled + label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:hover:disabled + label::before,
.filter-input-radio:focus:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:checked:hover:disabled + label::before,
.filter-input-radio:checked:focus:disabled + label::before {
  border-color: #c5c5c5;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label::after,
.filter-input-radio:checked:hover:disabled + label::after,
.filter-input-radio:checked:focus:disabled + label::after {
  background-color: #c5c5c5;
  opacity: 0.4;
}

.filter-button {
  margin-top: 35px;
  padding: 11px 39px;

  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}


.catalog {
  max-width: 700px;
  margin-bottom: 60px;
}

.catalog-sort {
  display: flex;
  align-items: center;
  width: 670px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;

  background-color: #f7f3ec;
}
