body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}


img {
  border: 0px;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}


.button {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 40px;
  border-radius: 2px;

  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Верхнее меню */
.main-header {
  min-height: 320px;

  font-size: 17px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #f3f7f8;
}


.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}


.main-logo img {
  width: 109px;
  height: 19px;
}


.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-logo {
  box-sizing: border-box;
  width: 220px;
  line-height: 47px;
  padding: 13px 56px 5px 56px;
}


.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.column-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.align-center {
  align-items: center;
}



.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.search-form input {
  box-sizing: border-box;
  width: 270px;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 48px;

  font: inherit;
  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 11px;
  border: none;
}


.search-form input::placeholder {
  color: #ffffff;
}


.search-form input:hover {
  color: #ffffff;

  background-color: #212a3a;
  background-image: url("../img/icon-search.svg") ;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-focus.svg");
  border: none;
}


.main-navigation {
  min-height: 42px;
  margin-bottom: 47px;

  line-height: 18px;

  background-color: #293449;
}

.main-navigation .main-bookmarks,
.main-navigation .cart {
  position: relative;

  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
}


.main-navigation .main-bookmarks{
  padding-left: 45px;
}


.main-navigation .main-bookmarks::before{
  content: "";
  position: absolute;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.main-navigation .main-bookmarks:hover,
.main-navigation .main-bookmarks:focus,
.main-navigation .cart:hover:hover::before,
.main-navigation .cart:focus::before {
opacity: 1;
}


.main-navigation .main-bookmarks:active,
.main-navigation .cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}


.main-navigation .main-bookmarks::before,
.main-navigation .cart:active::before {
  opacity: 0.5;
}


.main-navigation .cart::before {
  content: "";
  position: absolute;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.main-navigation .cart.not-empty {
  background-color: #ee3643;
}


.main-navigation .cart.not-empty:hover,
.main-navigation .cart.not-empty:focus {
  background-color: #ca2c37;
}


.main-navigation .cart.not-empty:active {
  background-color: #ba2732;
}


.main-navigation .order {
  width: 108px;
  padding: 12px 21px;

  background-color: #63a63e;
}

.main-navigation .order:hover,
.main-navigation .order:focus {
  background-color: #5fbb2d;
}

.main-navigation .order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-content {
  margin-bottom: 39px;
}


.contens {
  width: 196px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  padding-right: 51px;
  padding-left: 53px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #ee3643;
}


.main-address-phone,
.main-address {
  width: 300px;
  margin-right: 20px;

  font-style: normal;
  font-size: 14px;
  color: #32425c;
}


.main-address {
  display: block;
}


.main-address-phone,
.main-address {
  position: relative;

  display: inline-block;
  width: 193px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-left: 71px;

  font-size: 21px;
  vertical-align: top;
  color: #ee3643;

  border: 3px solid #ffffff;
}


.main-address-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}


.main-address {
  padding-left: 10px;
}

.mainphone::before {
  content: "";
  background:  url(../img/icon-phone.svg) no-repeat;
}


.icon-phone::before {
  content: "";
  background: url(../img/icon-phone.svg) no-repeat;
}


.main-phone {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;

  width: 144px;
  height: 21px;
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 21px;
  line-height: 21px ;
  text-align: left;
  color: #ee3643;
}


.main-address {
  width: 250px;
  height: 13px;
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 14px;
  line-height: 24px ;
  text-align: center;
  color: #32425c;
}


.icon-nameuser::before{
  content:"";
  background: url(../img/icon-user.svg);
}


.icon-nameuser{
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 21px;
  line-height: 21px ;
  text-align: center;
  color: #000000;
}


.exit-btn::before {
content: "";
background: url(../img/icon-logout.svg);
}


.personal-area .head-order-area,
.personal-area .head-personal-area {
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px ;
  text-align: left;
  color: #32425c;
  display: inline;
}


.breadcrumbs .icon-home::before {
  content: "";
  background: url(../img/icon-home.svg);
}


.breadcrumbs .icon-right::before {
  content: "";
  background: url(../img/icon-right-small.svg);
}


.breadcrumbs li,
.breadcrumbs-current {
  font-family: "PTsans", Verdana, sans-serif;
  font-size: 13px;
  line-height: 18px ;
  text-align: left;
  color: #000000;
  display: inline;
}


.authentication li,
.mainnav li {
  list-style: none;
  display: inline;
}


.authentication a:hover{
  color: #ee3643;
}


.authentication a {
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
}


.button-login {
  width: 121px;
  height: 45px;
}


.button-registration {
  width: 150px;
  height: 45px;
}


nav.menu-back {
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}


.mainnav a:hover {
  background-color: #293449;
}


.mainnav a {
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
}


div.about-company {
  width: 1200px;
  height: 536px;
  background-color: #ffffff;
}


.about-company .headding {
  width: 300px;
  height: 21px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
}

.about-company-p1 {
   width: 519px;
  font-family: "PTSans", Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.about-company-p2 {
  width: 386px;
  font-family: "PTSans", Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.about-company-delivery li::before {
  content:"-";
  color: #ee3643;
  padding-right: 5px;
}
  

.about-company-delivery li {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  list-style: none;
}


a.supportbtn{
  font-family: PTSans;
  font-size: 13px;
  line-height: 24;
  text-align: left;
  color: #000000;

  width: 220px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
}

.pickup h2{
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}



.pickup a {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24;
  text-align: left;
  color: #000000;
}


.footer-logo {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}


.footer-contacts,
a {
  width: 322px;
  height: 40px;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}


.botnavigation li:hover {
  text-decoration: underline;
}


.botnavigation li {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24;
  display: inline;
  color: #f1f5f7;
  list-style: none;
}


.footer-botmenu a {
  color: #ffd180;
}


div.footer-nav {
  width: 1200px;
  height: 300px;
  background-color: #32425c;
}


div.footer-contacts-back {
  width: 1200px;
  height: 107px;
  background-color: #293449;
}


.copyright{
  width: 228px;
  height: 33px;
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}


.feedback-color:hover {
  text-decoration: underline;
}


.feedback-color {
  font-family: "Cuprum", Verdana, sans-serif;
  font-size: 16px;
  font-stretch: normal;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}